.admin_info {
  background: #242526;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}
.updateProfile_form {
  background: #242526;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
